#main-content {
  display: grid;
  grid-template-columns: 1fr;
}

table {
  inline-size: 50vw;
}

td {
  text-align: center;
  padding: 0.5em;
}

.cell__outflow {
  color: red;
}

.cell__inflow {
  color: green;
}

@media (min-width: 600px) {
  #main-content {
    grid-template-columns: 1fr 3fr;
  }
}